# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [43]:
city_csv = "output_data/cities_data_update.csv"

In [44]:
city_data = pd.read_csv(city_csv)
city_data

,Unnamed: 0,City,Country,Latitude,Longitude,Max Temperature(F),Humidity,Cloudiness,Wind Speed(mph),Date
0,0,mataura,NZ,-46.19,168.86,55.00,76.0,71.0,13.00,1.578369e+09
1,1,yellowknife,CA,62.45,-114.38,-25.01,74.0,75.0,4.70,1.578369e+09
2,2,kunashak,RU,55.70,61.55,23.00,85.0,75.0,6.71,1.578369e+09
3,3,geraldton,CA,49.72,-86.95,5.00,77.0,5.0,4.70,1.578369e+09
4,4,waddan,LY,29.16,16.14,43.32,74.0,17.0,6.78,1.578369e+09
...,...,...,...,...,...,...,...,...,...,...
637,637,barcelos,BR,-0.97,-62.93,77.58,76.0,21.0,1.72,1.578369e+09
638,638,sao joao da barra,BR,-21.64,-41.05,77.63,90.0,100.0,11.14,1.578369e+09
639,639,north bend,US,43.41,-124.22,52.00,100.0,90.0,10.29,1.578369e+09
640,640,sumbawa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,641,lukovetskiy,RU,64.29,41.92,26.60,92.0,90.0,2.24,1.578369e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [45]:
gmaps.configure(api_key=g_key)

In [49]:
city_data = city_data.dropna()

In [50]:
locations = city_data[["Latitude", "Longitude"]].astype(float)

In [51]:
humidity = city_data["Humidity"].astype(float)

In [55]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=90,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
#Already done above

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map